@define-mixin breakpoint-mobile {
  @media (min-width: 512px) {
    @mixin-content;
  }
}

@define-mixin breakpoint-small {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin breakpoint-medium {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin breakpoint-large {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

@define-mixin breakpoint-xlarge {
  @media (min-width: 1388px) {
    @mixin-content;
  }
}
